
@import "bootstrap-icons/font/bootstrap-icons.css";


:root{
   --title-font: "Saira", Helvetica, Arial, sans-serif;
  --body-font: "Nunito", Helvetica, Arial, sans-serif;
  --p-color: #cf1f1f;
  --s-color: #ae1f20;
  --half-white: rgba(255, 255, 255, 0.661);
}

html,body,#root { height: 100%; }
body { background: black; color: white; font-family: "Roboto", sans-serif; }
a { color: inherit; text-decoration: none; }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: var(--p-color); border-radius: 8px; }
